@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap');

* {
  font-family: "Roboto", sans-serif;
  text-align: center;
  box-sizing: border-box;
  margin: auto;
}

body {
  margin: 1em;
  background-color: rgba(53, 60, 72, 1);
} 

@media only screen and (min-width: 370px) {
  .dropdown-bar {
    width: 25em;
  }
}
